<div class="container py-5">
  <h2 class="display-2 my-3">{{ diary?.id ? 'Edit' : 'New' }} diary entry</h2>

  <form action="" (ngSubmit)="onSubmit()" [formGroup]="diaryForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control is-invalid"
        id="title"
        formControlName="title"
        placeholder="Title"
        [class.is-invalid]="setIsInvalidClass('title')"
        [class.is-valid]="diaryForm.get('title')?.valid"
      />
      <div class="invalid-feedback">Please provide a title!</div>
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea
        class="form-control"
        id="content"
        formControlName="content"
        rows="5"
        [class.is-invalid]="setIsInvalidClass('content')"
        [class.is-valid]="diaryForm.get('content')?.valid"
      ></textarea>
      <div class="invalid-feedback">Please provide a content!</div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="diaryForm.invalid">Submit</button>
  </form>
</div>
